 #sudoku {
 	font-size: 0;
 	text-align: center;
 }
 
 body {
 	text-align: center;
 	font-family: Ariel;
 }
 
 div.box, div.cell {
 	display: inline-block;
 }
 
 .cell input {
 	width: 30px;
 	height: 30px;
 }